* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
  --body-font-size: 18px;
  --bookmarkbtn-boxshadow-color: rgba(232, 232, 232, 0.5);
  --primary-color: #ff5906;
  --global-bg-color: #fff;
  --global-text-color: #000;
  --body-bg-color-theme-light: #f9faff;
  --body-bg-color-theme-dark: #000;
  --header-bg-color-theme-light: #fff;
  --header-bg-color-theme-dark: #000;
  --header-shadow-theme-light: 0 0 15px #0000001a;
  --header-shadow-theme-dark: 0 0 15px #fff;
  --link-btn-hover-color: #fd700b;
  --para-hover-color: rgb(232, 232, 232);
  --breadcrumbs-boxshadow-color: #0000003b;
  
}

@font-face {
  font-family: "sabon";
  src: url("/fonts/sabon.woff");
}

body {
  background-color: var(--body-bg-color-theme-light);
  font-family: 'sabon';
  font-size: var(--body-font-size);
}

a {
  text-decoration: none;
}

p {
  /* margin-bottom: .1rem; */
  /* line-height: var(--p-line-height); */
  padding: .8rem 1.2rem;
  border-radius: 10px;
  /* position: relative; */
}

h3, h4 {
  margin-top: 2rem;
}

.hiddenClass {
  display: none;
}

/* ------------------------ all p tags bookmark button ----------------*/
#bookmarkBtn {
  position: sticky;
  top: 20%;
  font-size: 32px;
  cursor: pointer;
  float: right;
  margin-right: -5rem;
}

#bookmarkBtn img {
  width: 40px;
  padding: 6px;
  box-shadow: var(--bookmarkbtn-boxshadow-color) 0px 0px 20px 0px;
  background: white;
}

/* ------------------------ all p tags bookmark button ----------------*/

p:hover {
  background-color: var(--para-hover-color);
}

.footnotes {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.box-shadow{
  box-shadow: var(--header-shadow-theme-light);
  border-radius: 24px;
  background-color: var(--global-bg-color);
  color: var(--global-text-color);
}

.text-links {
    text-decoration: none;
    color: #000;
    transition: all .2s;
    cursor: pointer;
    color: var(--global-text-color);
}
.text-links:hover {
    color: var(--primary-color);
}

.link-btn {
  text-decoration: none;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  padding: .8rem 2rem;
  text-align: center;
  transition: all .3s;
  cursor: pointer;
}

.link-btn:hover {
 background-color: var(--link-btn-hover-color); 
}

.error {
  padding: 3rem;
  font-size: 1.5rem;
  text-align: center;
}

/*-------------------------------header navbar-----------------------*/

header {
  background-color: var(--header-bg-color-theme-light);
  z-index: 10;
  box-shadow: var(--header-shadow-theme-light);
  position: sticky;
  top: 0;
  width: 100%;
}

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .8rem 2rem;
}

#header-container #logo {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: bold;
}

#nav-login {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#nav-login img {
  width: 43px;
}

#darkModeBtn {
  font-size: 26px;
  transform: rotate(43deg);
}

/*------------------------login area and menu -----------------------*/

#navbarUserMenu{
  position: relative;
  width: 2.5rem;
  top: 4px;
}
#navbarUserMenu img{
  width: 100%;
  cursor: pointer;
}

#loginMenu {
  position: absolute;
  top: 100%;
  background: var(--global-bg-color);
  box-shadow: var(--header-shadow-theme-light);
  padding: 10px;
  right: -60%;
  border-radius: 10px;
  color: var(--global-text-color);
  text-align: left;
  animation: loginMenuAnimate .5s;
}

#loginFirstLetter {
  font-size: 2rem;
  background-color: white;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

#loginMenu div{
  margin: 10px 0px;
}

@-webkit-keyframes loginMenuAnimate {
  from {opacity:0} 
  to {opacity:1}
}
@keyframes loginMenuAnimate {
  from {opacity: 0}
  to {opacity: 1}
}

/*-------------------------------progress loader-----------------------*/

#progress-loader {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

#progress-loader img {
  -moz-animation-name: rotation;
  -moz-animation-duration: 0.65s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-name: rotation;
  -webkit-animation-duration: 0.65s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-name: rotation;
  animation-duration: 0.65s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	
	to {
		transform: rotate(359deg);
	}
}

/*-------------------------------content container-----------------------*/

#container {
  width: 80%;
  max-width: 1280px;
  margin: 2rem auto;
}

/*-------------------------------All books page container-----------------------*/

#book-list {  
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 5rem;
}

.book {
  width: 250px;
  text-align: center;
}

.book img {
  margin-bottom: 1rem;
  width: 100%;
}

/*-------------------------------Book details page container-----------------------*/

#details-container {  
  padding: 2rem;
}

#book-details {
  display: flex;
  gap: 4rem;
}

#bookCoverDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  flex: 1 1 auto;
}

#bookCoverDetails img {
  margin-bottom: 1rem;
  width: 250px;
}

#bookOtherDetails {
  flex: 1 1 auto; 
}

.bookDetailsBtn {
  max-width: 320px;
  width: 100%;
  margin: .5rem;
}

/*-------------------------------TOC Container -----------------*/

.toc-container {
  padding: 2.5rem;
}

.toc-container h1{
  font-size: 1.8rem;
}
.toc-container h2{
  font-size: 1.5rem;
}

.toc-book-title {
  /* font-size: 1.7rem; */
  margin-bottom: 3rem;
  text-align: center;
  font-weight: bold;
}

.chapName {
  text-decoration: none;
  text-align: left;
  text-decoration: none;
  margin-bottom: 1.2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.sub1Name {
  margin-left: 2rem;
  margin-bottom: 15px;
}

.sub2Name {
  margin-left: 4rem;
  margin-bottom: 15px;
  font-size: 1.3rem;
  font-weight: normal;
}

/*-------------------------------Book text Container -----------------*/

.text-container {
  padding: 2.5rem;
}

.text-bottom-nav {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.nextBtn, .prevBtn{
  padding: .4rem 2rem;
  width: 132px;
}

.nextBtn {
  margin-left: auto;
}

/*---------------------------------- Breadcrumbs START----------------------------------*/

.breadcrumbs {
 font-size: 1.2rem;
 margin-top: -1rem;
 margin-bottom: 2rem;
 line-height: 2rem;
 box-shadow: 0 0 5px var(--breadcrumbs-boxshadow-color);
 padding: 10px;
 border-radius: 10px;
}

.breadcrumbs a {
  cursor: pointer;
}

.breadcrumbs .crumbs::before {  
  color: var(--global-text-color);
  content: '>';
  display: inline-block;
  font-size: 20px;
  font-weight: 1000;
  margin: 0 20px;
  padding-bottom: 4px;
}

.breadcrumbs div {
  display: inline;
}

/*---------------------------------- Prgress Bar ----------------------------------*/

#progress-container {
  width: 100%;
  height: 3px;
}
#progressBar {
  height: 3px;
  background: var(--primary-color);
  width: 0%;
}

/*---------------------------------Back to top btn ----------------------------------*/

#backToTop {
  display: none;
  position: fixed;
  bottom: 1.2rem;
  right: 1rem;
  cursor: pointer;
  font-size: 2rem;
  background-color: #fff;
  color: var(--primary-color);
  box-shadow: 0 0 5px #ff5906;;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
}


/*---------------------------------Login Form ----------------------------------*/

form {
  padding: 2rem;
  font-size: 2rem;
}

.form-title {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: var(--global-text-color);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 60%;
  margin: auto;
}

.form-container label {
  font-size: 1.5rem;
  color: var(--global-text-color);
}
.form-container input {
  margin-bottom: 2rem;
  padding: .5rem 1rem;
  font-size: 1rem;
  /* border-radius: 5px; */
}
.form-container input:focus {
  outline: none;
  border: 2px solid #ff5906;
}

.form-container button {
  padding: .5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.form-container a {
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 1rem;
}

/*---------------------------------Profile page ----------------------------------*/

#profile-details-container {
  padding: 2rem;
  font-size: 18px;
}
#profile-details-container h1{
  text-align: center;
  margin-bottom: 2rem;
}

#profile-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#profile-img {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* input[type=file]::file-selector-button{
  text-decoration: none;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  padding: .5rem 2rem;
  text-align: center;
  transition: all .3s;
  cursor: pointer;
}

#upload-button {
  text-decoration: none;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  padding: .5rem 2rem;
  text-align: center;
  transition: all .3s;
  cursor: pointer;
} */

#bookmarks h3 {
  margin-bottom: 1rem;
}

.indi-bookmark {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 1rem;
}

.del-bookmark-img {
  width: 25px;
  height: 100%;
  cursor: pointer;
  align-self: flex-end;
  background-color: white;
  padding: 2px;
  border-radius: 3px;
}

.del-bookmark-img:hover {
  background-color:#888;
}

/*---------------------------------- TOC Modal CSS ----------------------------------*/

#tocModal {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  cursor: pointer;
}

#tocModal img  {
  width: 45px;
}

.modalView {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
    
}

#modal-text a {
  text-decoration: none;
  color: var(--global-text-color);
}

#modal-text a:hover {
  color: var(--primary-color);
}

.modal-content {
  position: relative;
  background-color: var(--global-bg-color);
  border-radius: 5px;
  font-size: 14px;
  margin: 5% auto;
  padding: 2rem;
  border: 1px solid #888;
  width: 80%;
  top: 5vh;
  height: 80vh;
  overflow-y: auto;
  transition: all;
  animation-name: animatetop;
  animation-duration: 0.4s;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  -moz-animation-name: animatetop;
  -moz-animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

#closeBtn {
  color: #aaa;
  float: right;
  font-size: 2.5rem;
  line-height: 0;
  font-weight: bold;
}

#closeBtn:hover,
#closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*------------------------ information toast bar ----------------------------*/

#infoToast {
  display: none;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 100;
  left: 50%;
  bottom: 30px;
}

#infoToast.show {
  display: block;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/*--------------------------hamburger icon --------------------------*/
.burger {
  display: none;
}

.nav-open {
  transform: translateY(100%);
}

.toggle .line1 {
  transform: rotateZ(45deg) translateY(460%);
  background-color: var(--global-text-color);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3 {
  transform: rotateZ(-45deg) translateY(-511%);
  background-color: var(--global-text-color);
}



@media screen and (max-width: 850px){
  #book-details {
    flex-direction: column;
  }

  .form-container {
    width: 80%;
  }

  .toc-container {
    padding: 1rem;
  }
}


@media screen and (max-width: 600px) {
  .burger {
    cursor: pointer;
    display: block;
    z-index: 5;
  }

  .burger span {
    padding: 0.05rem 1.2rem;
    background: var(--global-text-color);
    margin: 0.3rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }

  #container {
    width: 93%;
  }

  .text-container {
    padding: 0rem 0rem 2.5rem 0rem;
  }

  .text-container p {
    padding: .8rem .5rem;
  }

  .text-container ol {
    padding: 0 1rem 0 1rem;
  }

  .breadcrumbs {
    border-radius: 20px 20px 6px 6px;
  }

  #nav-login{
    background: #727272;
    height: 50%;
    width: 100%;
    position: fixed;
    bottom: 100%;
    left: 0;
    flex-direction: column;
    align-items: center;
    z-index: 4;
    transition: all 0.5s ease;
    padding-top: 4rem;
  }

  .modal-content {
    top: 10vh;
    height: 80vh;
  }

  .form-container {
    width: 100%;
  }

  .text-bottom-nav {
    padding: 0 2rem;
  }

  #bookmarkBtn {
    margin-right: 0;
    width: 20px;
    opacity: 85%;
  }
}

@media screen and (max-width: 450px) {

  #header-container {
    padding: .6rem 1rem;
  }

  .text-bottom-nav {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .nextBtn {
    margin: auto;
  }

  .form-container {
    width: 100%;
  }
}
